#content{
	width: 80%;
	position: absolute;
	top: 8%;
	left: 23%;
}
.side{

	padding: 0.33333em;
	position: fixed;
	top: 10%;
	left: 3%;
	width: 17%;
	height: 80%;
	margin: 0px;
}

legend{
	font-size: 13px;
	color: #FFFFFF;
	font-weight: lighter;
	background-color: #49b4d0;
	letter-spacing: 1px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	width: 10%;
}
fieldset{
	border: 1px solid #49b4d0;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 80%;
}

#sel1{
	/*width: 33%;*/
}

#sel2{
	width: 33%;
}

#lab2{
	margin-left: 30px;
}
.fon1{
	font-weight: 600;
}
.fon2{
	font-size: 15px;
}

.form-control{
	display: initial;
}
#map {
  height: 400px;
  width: 100%;
 }
/* 漢堡 */
label.burger{
 display: none;
}

/* RWD */
@media screen and (max-width:850px) {
  ul.nav.navbar-nav.navbar-right{
    display: none;
  }

  label.burger{
    display: block;
    float: right;
    border: 2px solid #9c9090;
    border-radius: 5px;
    padding: 5px;
    width: 35px;
    margin-top: 5px;
    text-align: center;
  }

  #burger:checked + ul {
    display: block;
    width: 155px;
    position: relative;
    top: 56px;
    left: 57px;
    float: right;
    background-color: #ff9e19;
  }
  .menu .navbar-nav > li > a {
    font-size: 13px;
    color: #ffffff !important;
    padding: 10px 35px;
  }
  legend{
    width: 20%;
  }
  .container-fluid{
    padding-right: 0px;
  }


}
@media screen and (max-width:790px) {
  #burger:checked + ul {
    left: 30px !important;
  }
}
@media screen and (max-width:768px) {
  #burger:checked + ul {
    left: 30px !important;
    top: 49px;
  }
}
@media screen and (max-width:720px) {
  #content{
    top: 12%;
    position: absolute;
    left: 2%;
    width: 97%;
  }
  .side{
    position: unset;
  }
  #cssmenu {
    position: relative;
    top: 110px;
  }
  #cssmenu ul {
    display: inline-flex;
    width: 15em;
    /*left: 12em;*/
    top: -2em;
    z-index: unset !important;
  }
  fieldset {
    width: 97%;
  }
  .table {
    width: 97% !important;
  }
}
@media screen and (max-width:1100px) {
  th{
    height: 45px !important;
  }
}
@media screen and (max-width:477px) {
  th{
    height: 67px !important;
  }
}

@media screen and (max-width:315px) {
  th{
    height: 85px !important;
  }
  .fon2{
    display: none;
  }
}
@media screen and (max-width:425px) {
  th{
    height: 50px !important;
  }
}

@media screen and (max-width:375px) {
    #cssmenu ul {
      top: -43px;
    }
    label.burger {
      padding: 0;
      
  }
}

@media screen and (max-width:360px) {
  .fon2{
    display: none;
  }
  label.burger {
    padding: 0;
    margin-right: 5px;
  }
  #burger:checked + ul {
    left: 35px !important;
    top: 49px;
    width: 50%;
  }
  #cssmenu ul {
    top: -3em;
  }

}



/* table */
.table{
	width: 80%;
}
th{
	text-align: center;
	width: 20%;
}
td{
	text-align: center;
}
thead{
	background-color: #ffd540;
}
thead, tbody, tr, td, th {
    display: block;
}
thead tr{
	padding-right: 17px; 
}
thead th {
    height: 30px;
}

tbody {
    overflow-y: auto;
    height: 35em;
}

tbody td, thead th {
    float: left;
    width: 20%;
}

tr:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
    margin-bottom: 5px;
}

/**/
.filterable {
	width: 80%;
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}


/* menu */
.menu
{
background-color: #ffffff;
border-bottom: 4px solid #e3be39;
width:100%;
height: 6%;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
opacity: 0.9;
}
.menu  .navbar-nav > .active > a
{
background-color : #04A3ED;
color: white;
font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: #ff9e19;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
color:#ffffff;
background-color: #e3be39;
}

.navbar-header > p
{
font-family: 'Microsoft JhengHei', sans-serif;
position: absolute;
padding: 0px;
margin: 0px;
text-decoration: none;
color: #ff9e19;
font-size: 20px;
padding: 5px 30px;
}


/* css menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}


/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  /*width: 200px;*/
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-bottom: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-bottom: 3px solid #49b4d0;
}
#cssmenu ul li:hover > a {
  color: #49b4d0;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

/*  */
